@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

.dashboard-container {
    width: 100% !important;
}

.dashboard {
    display: flex;
    margin-top: 3em;
}

aside {
    width: min-content;
    margin: 0em 2.5em;
}

aside.left-sidebar {
    float: left;
}

aside.right-sidebar {
    float: right;
}

.card {
    width: min-content;
}